//Variables 

$website-width: 1280px;
$main-color: #CA0011; 
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;

// $main-color: purple; 
// $light-color: blue;
// $medium-color: #fff;
// $dark-color: #333;
$bg-image: url('../img/bg.jpg');

//Skill Icon Colors:

$html: #e34f26;
$css: #006EBD;
$sass: #CF649A;
$javascript: #f7df1e;
$bootstrap: #563E7C;
$wordpress: #21759b;
$gulp: #DA4648;
$npm: #CB3837;
$php: #8892be;
$sketch: #FDAD01;
$a11y: #68AEFE;
$git: #F05033;
$node: #6cc24a;
$responsive: #00d8ff;
$user: #7f181b;


//Set Text Color
@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #000;
    } @else {
        @return #fff;
    }
}
//General Styles and Reset

* {
    margin: 0;
    padding: 0;
} 

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background: #fff;
 }

 a {
     text-decoration: none;
     color: $dark-color;
 }

 ul {
     list-style: none;
 }

 h2, h3, h4 {
     text-transform: uppercase;
 }

 img {
     width: 100%;
     color: #fff;
     text-transform: uppercase;
 } 

