//Variables 

$website-width: 1280px;
$main-color: #2196f3;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url('../img/showcase.jpg');

//Set Text Color
@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #000;
    } @else {
        @return #fff;
    }
}
//General Styles and Reset

* {
    margin: 0;
    padding: 0;
} 

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background: #fff;
 }

 a {
     text-decoration: none;
     color: $dark-color;
 }

 ul {
     list-style: none;
 }

 h2, h3, h4 {
     text-transform: uppercase;
 }

 img {
     width: 100%;
     color: #fff;
     text-transform: uppercase;
 } 

