//Contact 

#contact {
    background: $medium-color;
    color: set-text-color($light-color);
    
        .text-fields {
            display: grid;
            grid-template-areas: 
            'name email'
            'subject phone'
            'message message';
            grid-gap: 1.2rem;
            margin-bottom: 1.2rem;
            

            //Grid Areas

            .name-input {
                grid-area: name;
            }
            .email-input {
                grid-area: email;
            }
            .subject-input {
                grid-area: subject;
            }

            .phone-input {
                grid-area: phone;
            }

            .message-input {
                grid-area: message;
                height: 100px;
            }

            .text-input {
                padding: 0.5rem 1rem;
            }

           
        }
        button.btn-dark{
           margin: 0 auto;
            width: 50%;
            display: block;
        }
    
        h2 {
            text-align: center;
        
        }

        p.lead {
            text-align: center;
        }
}