//Variables 

$website-width: 1280px;
$main-color: rgba(19, 41, 61, 1);
$secondary-color: rgba(27, 152, 224, 1);
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;

//Hero Background Image
$bg-image: url('../img/bg3.jpg');

//Skill Icon Colors:

$html: #e34f26;
$css: #006EBD;
$sass: #CF649A;
$javascript: #f7df1e;
$bootstrap: #563E7C;
$wordpress: #21759b;
$gulp: #DA4648;
$npm: #CB3837;
$php: #8892be;
$sketch: #FDAD01;
$a11y: #68AEFE;
$git: #F05033;
$node: #6cc24a;
$responsive: #00d8ff;
$sql: #6afcc7;


//Set Text Color
@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #000;
    } @else {
        @return #fff;
    }
}
//General Styles and Reset

* {
    margin: 0;
    padding: 0;
} 

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background: #fff;
    padding-left: 19rem;
 }

 a {
     text-decoration: none;
     color: $dark-color;
 }

 ul {
     list-style: none;
 }

 h2, h3, h4 {
     text-transform: uppercase;
 }

 img {
     width: 100%;
     color: #fff;
     text-transform: uppercase;
 } 

/*Animating Arrow*/
 
 a.fa.fa-arrow-down.fa-2x {
     color: #fff;
 }
 
 .arrow {
   text-align: center;
   margin: 12% 0;
 }
 .bounce {
   -moz-animation: bounce 2s infinite;
   -webkit-animation: bounce 2s infinite;
   animation: bounce 2s infinite;
 }
 
 @keyframes bounce {
   0%, 20%, 50%, 80%, 100% {
     transform: translateY(0);
   }
   40% {
     transform: translateY(-30px);
   }
   60% {
     transform: translateY(-15px);
   }
 }