//Footer 

#main-footer {
    background: $light-color;
    color: $dark-color;
    height: 5rem;

    .footer-content {
        display: flex;
        justify-content: center;
        height: 5rem;
        align-items: center;

        .social a {
            color: #fff;
        }
        .social a:hover {
            color: #fff;
        }

        .social .fab {
            margin-right: 2rem;
            margin-left: 2rem;
            border: 2px solid #fff;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            line-height: 20px;
            text-align: center;
            padding: 0.5rem;
            transition: all .3s;

            &:hover {
                background: $main-color;
            }
        }
    }
}