//Import Partials
@import 'config';
@import 'utilities'; 


//General Styles and Reset

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background: #fff;
 }

 a {
     text-decoration: none;
     color: $dark-color;
 }

 ul {
     list-style: none;
 }

 h2, h3, h4 {
     text-transform: uppercase;
 }

 img {
     width: 100%;
     color: #fff;
     text-transform: uppercase;
 } 


//  Logo

#logo {
    width: 70px;
    height: 70px;
}

// Main nav

#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    ul {
        display: flex;
    }

    li {
        padding: 1rem 1.5rem;
    }

    a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;

        &:hover {
            border-color: $medium-color;
        }
        &.current {
            border-color: $main-color;
        }
    }
}
//  Header

#header {
    &-home {

        //Header home
        background: rgba(51, 51, 51,.65);
        height: 100vh;
        color: #fff; 

       
            &:before {
                content: ''; 
                background: $bg-image no-repeat center center/cover;            
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                
            }
        

        //Header Content 
        .header-content {
            text-align: center;
            padding-top: 15%;
            h1 {
                font-size: 4rem;
                line-height: 1.2;
            }
            
        }
        
    }

        //Header Inner
    &-inner {

    }
}

//Home Sections 

#home {
    //Home Section A
    &-a {
        .specials {
            @extend %repeat4;
            grid-gap: 1rem;
            margin-top: 3rem;
           
            i {
                color: $main-color;
                padding-bottom: 0.4rem;
            }
        }
    }
    //Home Section B
    &-b {
        .stats {
            @extend %repeat4;

            li {
                line-height: 2;

                &.stats-title {
                    font-size: 1.5rem;
                }
                &.stats-number {
                    font-size: 2rem;
                    font-weight: bold;
                }
            }

           div {
               padding: 3rem 0;
               &:nth-child(odd) {
                   background: $light-color;
               }
               &:nth-child(even) {
                    background: $medium-color;
                }
           }
        }
    }
}