html {
    font-size: 62.5%; //1 rem = 10px/16px = 62.5%
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

body {
    line-height: 1.2;
    background: #83a4d4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #b6fbff, #83a4d4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #b6fbff, #83a4d4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #000;
}


.main {
    width: 75%;
    height: 300px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media only screen and (min-width: 768px) {
        height: 500px;
    }
}



.title,
.connect {
    text-align: center;
}


.title h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;

    @media only screen and (min-width: 768px) {
        font-size: 5rem;
    }
}

.title h2 {
    font-size: 1.7rem;

    @media only screen and (min-width: 768px) {
        font-size: 3rem;
    }
}

.content {
    font-size: 1.7rem;
    text-align: center;
    font-style: italic;

    @media only screen and (min-width: 768px) {
        font-size: 3.5rem;
    }
}



.connect h3 {
    font-size: 1.5rem;

    @media only screen and (min-width: 768px) {
        font-size: 3rem;
    }
}

.social-icons {
    margin-top: 3rem;
}

.social-icons a ion-icon {
    height: 3.3rem;
    width: 3.3rem;

    @media only screen and (min-width: 768px) {
        height: 10rem;
        width: 10rem;
    }
}

.social-icons {
    a {
        margin-left: 2rem;
        margin-right: 2rem;
        transition: all .3s;
    }

    a:visited,
    a:link {
        color: #000;
    }

    a[href="https://github.com/jhmendes"]:hover {
        color: #6cc644;
    }

    a[href="https://www.linkedin.com/in/johnhmendes/"]:hover {
        color: #0077b5;
    }

    a[href="https://twitter.com/johnhmendes"]:hover {
        color: #00aced;
    }


}